# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: deploy common layer
on:    
  push:
    branches: [ "master" ]
    paths:
      - 'src/Frameworks/Framework.Common/**'
  pull_request:
    branches: [ "master" ]
    paths:
      - 'src/Frameworks/Framework.Common/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.7
      with:
            versionSpec: '5.x'
    - name: Check out Code
      uses: actions/checkout@v2
      with:
          fetch-depth: 0
    - name: Determine git Version
      id: gitversion
      uses: gittools/actions/gitversion/execute@v0.9.7
      with:
          useConfigFile: true
          configFilePath: ./.github/gitversion.yml
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
          dotnet-version: 6.0.403
    - name: Restore dependencies
      run: dotnet restore
    - name: Build dotnet 
      run: dotnet build src/Frameworks/Framework.Common/Framework.Common.csproj --configuration release /p:Version=${{ steps.gitversion.outputs.AssemblySemVer }} /p:AssemblyVersion=${{ steps.gitversion.outputs.AssemblySemVer }} /p:InformationalVersion=${{ steps.gitversion.outputs.InformationalVersion }} --no-restore 
    - name: Package nuget
      run: dotnet pack src/Frameworks/Framework.Common/Framework.Common.csproj --configuration release -o:package /p:PackageVersion=${{ steps.gitversion.outputs.AssemblySemVer }}
    - name: Push generated package to GitHub registry
      run: dotnet nuget push ./package/*.nupkg  --source https://nuget.pkg.github.com/mortezarezaei68/index.json   --api-key ${{ secrets.TOKEN }}
    #- name: Push generated package to Nuget registry
     # run: dotnet nuget push ./package/*.nupkg  --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }}
